<div id="dashboard">
  <p>Dashboard</p>
  <div class="entry-list" ng-repeat="(tag, entries) in allTagEntries">
    <div class="tag-name">{{tag}}</div>
    <div class="entry" ng-repeat="entry in entries">
      <div class="entry-thumbnail" ng-if="entry.thumbnail_url">
        <img src="{{entry.thumbnail_url}}" class="thumbnail">
      </div>
      <div class="entry-header" ng-class="{'visible-thumbnail': entry.thumbnail_url}">
        <a href="{{entry.link}}" class="title" target="_blank">{{entry.title}}</a>
      </div>
      <div class="entry-footer">
        <span class="bookmarkcount">{{entry.bookmarkcount}}</span>
      </div>
    </div>
  </div>
</div>
