<div id="entryboard">
  <div class="entry-list">
    <div class="tag-name">{{currentTag.name}}</div>
    <div class="entry" ng-repeat="entry in allTagEntries[currentTag.name]">
      <div class="entry-title"><a href="{{entry.link}}" target="_blank">{{entry.title}}</a></div>
      <div class="entry-thumbnail" ng-if="entry.thumbnail_url">
        <img src="{{entry.thumbnail_url}}" class="thumbnail">
      </div>
      <div class="entry-body" ng-class="{'visible-thumbnail': entry.thumbnail_url}">
        <div class="description">{{entry.description}}</div>
        <div class="controller">
          <div class="bookmarkcount">{{entry.bookmarkcount}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
