<div id="sidebar" class="col-lg-2 col-md-3 col-sm-3" style="background-color: #204d74">side</div>
<div id="main-content" class="col-lg-10 col-md-9 col-sm-9">
  <div ng-repeat="(tag, entries) in entriesPack">
    <div style="font-size: 24px; margin-bottom: 5px;">{{tag}}</div>
    <div ng-repeat="entry in entries" style="margin-bottom: 10px;">
      <div><a href="{{entry.link}}" target="_blank">{{entry.title}}</a><span> {{entry.bookmarkcount}}</span></div>
      <div ng-if="entry.thumbnail_url"><img src="{{entry.thumbnail_url}}"></div>
    </div>
  </div>
</div>
