<div id="settings">
  <form class="form-horizontal" ng-submit="save()">
    <div class="form-group">
      <label class="col-sm-4 col-md-3 control-label">ブックマーク数閾値</label>
      <div class="col-sm-4 col-md-3">
        <select class="form-control" ng-model="setting.bookmark_threshold" ng-options="o as o + ' user' for o in options.bookmarkCount"></select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 col-md-3 control-label">ホットエントリー表示期間</label>
      <div class="col-sm-4 col-md-3">
        <select class="form-control" ng-model="setting.hotentry_days" ng-options="o as o + ' 日' for o in options.hotentryDays"></select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 col-md-3 control-label">あとで読む表示期間</label>
      <div class="col-sm-4 col-md-3">
        <select class="form-control" ng-model="setting.later_days" ng-options="o as o + ' 日' for o in options.laterDays"></select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 col-md-3 control-label">ダッシュボード表示件数</label>
      <div class="col-sm-4 col-md-3">
        <select class="form-control" ng-model="setting.dashboard_count" ng-options="o as o + ' 件' for o in options.dashboardCount"></select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 col-md-3 control-label">エントリー表示順</label>
      <div class="col-sm-4 col-md-3">
        <select class="form-control" ng-model="setting.sort" ng-options="o.value as o.label for o in options.sort"></select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-6">
        <input type="submit" class="btn btn-default" value="save">
      </div>
    </div>
  </form>
</div>
