<div ng-controller="SidebarController">
  <div id="page-link-list">
    <ul>
      <li sidebar-link="#/">
        <span><i class="fa fa-tachometer"></i> dashboard</span>
      </li>
      <li sidebar-link="#/check">
        <span><i class="fa fa-check"></i> checks</span>
      </li>
      <li sidebar-link="#/later">
        <span><i class="fa fa-archive"></i> laters</span>
      </li>
      <li sidebar-link="#/setting">
        <span><i class="fa fa-cog"></i> setting</span>
      </li>
    </ul>
  </div>
  <div id="tag-list">
    <h2 id="tag-list-header"><a href="#/tag"><i class="fa fa-tags"></i> Tags</a></h2>
    <ul>
      <li ng-repeat="tag in tags.mine" sidebar-link="{{'#/entry/' + tag.encoded}}">
        <span>{{tag.name}}</span>
      </li>
    </ul>
  </div>
</div>