<div id="tag-select">
  <div id="view-header">
    <div id="view-title">タグの編集</div>
    <div id="view-description">ウォッチするタグを選択してください。</div>
  </div>
  <form novalidate id="add-tag-form" name="addOriginalTag" class="form-inline" ng-submit="add(tag)">
    <div class="form-group">
      <input type="text" id="input-tag-name" name="tagName" class="form-control" placeholder="追加するタグ" ng-model="tag.name" required ng-maxlength="30" ng-pattern="/^[^;,/\?:@&=\+\$#\s]+$/">
      <input type="submit" class="btn btn-default" value="add" ng-disabled="addOriginalTag.$invalid">
      <div class="error-msg">
        <span ng-show="addOriginalTag.tagName.$error.maxlength">タグは30文字以内で入力してください</span>
        <span ng-show="addOriginalTag.tagName.$error.pattern">使用できない文字が含まれています</span>
      </div>
    </div>
  </form>
  <form novalidate name="selectTags" ng-submit="save()">
    <div id="tag-select-list" class="form-group">
      <div class="tag checkbox checkbox-circle checkbox-primary" ng-repeat="tag in tags" ng-class="{ active: tag.checked }" tag-option>
        <input type="checkbox" id="checkbox{{$index}}" class="tag-option"
               ng-checked="tag.checked || !tag.official" ng-model="tag.checked">
        <label for="checkbox{{$index}}" class="tag-label"> {{tag.name}}</label>
      </div>
    </div>
    <div id="tag-submit" class="form-group">
      <input type="submit" class="btn btn-default" value="save">
      <span>{{msg}}</span>
    </div>
  </form>
</div>
