#header {
  height: 45px;
  background-color: #204d74;
}

#sidebar {
  width: 250px;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 45px;
  left: 0;
  padding-left: 15px;
  background-color: #204d74;
  color: #ffffff;
  font-size: 16px;

  .tag-list {
    #tags-header {
      font-size: 18px;
    }

    ul {
      padding-left: 15px;
      list-style-type: none;

      li a {
        color: #ffffff;
      }
    }
  }
}

#content {
  padding-left: 250px;

  // todo 幅を極端に狭めたときの表示
  #dashboard {
    overflow: hidden;
    padding-left: 15px;
  }
  #entryboard {
    overflow: hidden;
    padding-left: 20px;
  }
  #entry-list-controll {
    padding: 10px 0;
    .controll-button {
      height: 34px;
      margin-right: 3px;
      padding: 0 15px;
      background-color: #ffffff;
      border: solid 1px #dfdfdf;
      border-radius: 17px;
      outline: none;
      color: #b2b2b2;

      &:hover {
        background-color: #acacac;
        border-color: #acacac;
        color: #ffffff;
      }
      &.active {
        background-color: #76bd7c;
        border-color: #76bd7c;
        color: #ffffff;
      }
    }
  }
  .entry-list.small {
    float: left;
    margin: 0 10px 10px 0;
    padding: 10px;
    box-sizing: border-box;

    @media screen and (max-width: 1000px) {
      width: 100%;
    }
    @media screen and (min-width: 1000px) {
      width: 48%;
    }
    @media screen and (min-width: 1500px) {
      width: 32%;
    }

    .tag-name {
      margin-bottom: 5px;
      font-size: 24px;
    }
    .entry {
      min-height: 60px;
      margin-bottom: 15px;
      border-bottom: solid 1px #dfdfdf;

      .entry-header {
        position: relative;

        &.visible-thumbnail {
          margin-right: 70px;
        }
        .favicon {
          position: absolute;
          top: 2px;
          height: 16px;
          width: 16px;
        }
        .title {
          width: 100%;
          height: 3em;
          padding-left: 20px;
          display: block;
          overflow: hidden;
          font-size: 14px;
        }
      }
      .entry-thumbnail {
        float: right;

        .thumbnail {
          width: 65px;
          height: 50px;
        }
      }
      .entry-body {
        display: none;
      }
      .entry-footer {
        padding: 5px 0 10px 0;
        .bookmarkcount {
          font-size: 14px;

          &::after {
            content: " users";
          }
        }
        .controll-button {
          height: 28px;
          width: 28px;
          margin-right: 5px;
          background-color: #ffffff;
          border: solid 1px #dfdfdf;
          border-radius: 14px;
          outline: none;
          color: #b2b2b2;

          &:hover {
            background-color: #acacac;
            border-color: #acacac;
            color: #ffffff;
          }
          &.check-button.active {
            background-color: #94a4e2;
            border-color: #94a4e2;
            color: #ffffff;
          }
          &.later-button.active {
            background-color: #eb8692;
            border-color: #eb8692;
            color: #ffffff;
          }
        }
      }
    }
  }

  .entry-list.large {
    min-width: 600px;
    max-width: 1100px;

    .tag-name {
      margin-bottom: 10px;
      font-size: 28px;
    }
    .entry {
      overflow: hidden;
      position: relative;
      min-height: 150px;
      margin-bottom: 15px;
      padding-bottom: 5px;
      border-bottom: solid 1px #dddddd;

      .entry-thumbnail {
        float: right;

        .thumbnail {
          width: 130px;
          height: 100px;
          margin-bottom: 10px;
        }
      }
      .entry-header {
        position: relative;
        margin-bottom: 6px;
        font-size: 16px;

        &.visible-thumbnail {
          margin-right: 140px;
        }
        .title {
          padding-left: 20px;
        }
        .favicon {
          position: absolute;
          top: 2px;
          height: 16px;
          width: 16px;
        }
      }
      .entry-body {

        &.visible-thumbnail {
          margin-right: 140px;
        }
        .description {
          margin-bottom: 40px;
          color: gray;
          font-size: 14px;
        }
      }
      .entry-footer {
        position: absolute;
        bottom: 0;
        margin-bottom: 8px;

        .bookmarkcount {
          font-size: 20px;

          &::after {
            content: " users";
            font-size: 14px;
          }
        }
        .controll-button {
          height: 32px;
          width: 32px;
          margin-right: 5px;
          background-color: #ffffff;
          border: solid 1px #dfdfdf;
          border-radius: 16px;
          outline: none;
          color: #b2b2b2;

          &:hover {
            background-color: #acacac;
            border-color: #acacac;
            color: #ffffff;
          }
          &.check-button.active {
            background-color: #94a4e2;
            border-color: #94a4e2;
            color: #ffffff;
          }
          &.later-button.active {
            background-color: #eb8692;
            border-color: #eb8692;
            color: #ffffff;
          }
        }
      }
    }
  }

  #tag-select {
    padding-left: 15px;
  }
}

#footer {
  background-color: #101010;
}
