#header {
  height: 45px;
  background-color: #204d74;
}

#sidebar {
  width: 250px;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 45px;
  left: 0;
  padding-left: 15px;
  background-color: #204d74;
  color: #ffffff;
  font-size: 16px;

  .tag-list {
    #tags-header {
      font-size: 18px;
    }

    ul {
      padding-left: 15px;
      list-style-type: none;

      li a {
        color: #ffffff;
      }
    }
  }
}

#content {
  padding-left: 250px;

  #dashboard {
    overflow: hidden;
    padding-left: 15px;

    .entry-list {
      float: left;
      margin: 0 10px 10px 0;
      padding: 10px;
      box-sizing: border-box;

      @media screen and (max-width: 1000px) {
        width: 100%;
      }
      @media screen and (min-width: 1000px) {
        width: 48%;
      }
      @media screen and (min-width: 1500px) {
        width: 32%;
      }

      .tag-name {
        margin-bottom: 5px;
        font-size: 24px;
      }
      .entry {
        min-height: 60px;
        margin-bottom: 15px;
        border-bottom: solid 1px #dfdfdf;

        .entry-header {
          position: relative;

          &.visible-thumbnail {
            margin-right: 70px;
          }
          .favicon {
            position: absolute;
            top: 2px;
            height: 16px;
            width: 16px;
          }
          .title {
            width: 100%;
            height: 3em;
            padding-left: 20px;
            display: block;
            overflow: hidden;
          }
        }
        .entry-thumbnail {
          float: right;

          .thumbnail {
            width: 65px;
            height: 50px;
          }
        }
        .entry-footer {
          padding: 5px 0 10px 0;
          .bookmarkcount {
            &::after {
              content: " users";
            }
          }
          button {
            height: 28px;
            width: 28px;
            margin-right: 5px;
            background-color: #ffffff;
            border: solid 1px #dfdfdf;
            border-radius: 14px;
            color: #b2b2b2;
          }
          button:hover {
            background-color: #949494;
            color: #ffffff;
          }
          .checked-button {
          }
        }
      }
    }
  }

  #entryboard {
    padding-left: 15px;

    .entry-list {
      min-width: 600px;
      max-width: 1100px;

      .tag-name {
        margin-bottom: 10px;
        font-size: 28px;
      }
      .entry {
        overflow: hidden;
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-bottom: solid 1px #dddddd;

        .entry-header {
          position: relative;
          margin-bottom: 6px;
          font-size: 16px;
          .title {
            padding-left: 20px;
          }
          .favicon {
            position: absolute;
            top: 2px;
            height: 16px;
            width: 16px;
          }
        }
        .entry-thumbnail {
          float: right;

          .thumbnail {
            width: 130px;
            height: 100px;
          }
        }
        .entry-body {
          height: 100%;

          &.visible-thumbnail {
            margin-right: 135px;
          }
          .description {
            color: gray;
            font-size: 14px;
          }
          .controller {
            .bookmarkcount {
              float: left;
              font-size: 20px;

              &::after {
                content: " users";
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  #tag-select {
    padding-left: 15px;
  }
}

#footer {
  background-color: #101010;
}
