<div class="hotentry-date" ng-show="entry.visibleDate">
  <span>{{entry.hotentry_date}}</span>
</div>
<button class="remove-button" ng-click="remove(entry)" ng-show="isRemovable()">
  <i class="fa fa-remove"></i>
</button>
<div class="entry-thumbnail" ng-if="entry.thumbnail_url">
  <img src="{{entry.thumbnail_url}}" class="thumbnail">
</div>
<div class="entry-header" ng-class="{'visible-thumbnail': entry.thumbnail_url}">
  <img src="{{entry.favicon_url}}" class="favicon" ng-if="entry.favicon_url">
  <a href="{{entry.url}}" class="title" target="_blank">{{entry.title}}</a>
</div>
<div class="entry-body" ng-class="{'visible-thumbnail': entry.thumbnail_url}">
  <div class="description">{{entry.description}}</div>
</div>
<div class="entry-footer">
  <button class="controll-button check-button" ng-click="toggleCheck(entry)" ng-class="{ active: entry.checked }" ng-hide="viewName === 'check_list'">
    <i class="fa fa-check"></i>
  </button>
  <button class="controll-button later-button" ng-click="toggleLater(entry)" ng-class="{ active: entry.latered }" ng-hide="viewName === 'later_list'">
    <i class="fa fa-archive"></i>
  </button>
  <span class="bookmarkcount" ng-show="entry.bookmarkcount !== undefined">{{entry.bookmarkcount}}</span>
</div>
