<div class="entry-thumbnail" ng-if="entry.thumbnail_url">
  <img src="{{entry.thumbnail_url}}" class="thumbnail">
</div>
<div class="entry-header" ng-class="{'visible-thumbnail': entry.thumbnail_url}">
  <img src="{{entry.favicon_url}}" class="favicon" ng-if="entry.favicon_url">
  <a href="{{entry.link}}" class="title" target="_blank">{{entry.title}}</a>
</div>
<div class="entry-footer">
  <button class="controll-button check-button" ng-click="switchCheck(entry.link, entry.date, !entry.checked)" ng-class="{ active: entry.checked }">
    <i class="fa fa-check"></i>
  </button>
  <button class="controll-button later-button" ng-click="switchLater(entry.link, entry.date, !entry.latered)" ng-class="{ active: entry.latered }">
    <i class="fa fa-archive"></i>
  </button>
  <span class="bookmarkcount">{{entry.bookmarkcount}}</span>
</div>
