/* line 1, ../../sass/ui.scss */
#header { height: 45px; background-color: #204d74; }

/* line 6, ../../sass/ui.scss */
#sidebar { width: 250px; height: 100%; min-height: 100%; position: absolute; top: 45px; left: 0; padding-left: 15px; background-color: #204d74; color: #ffffff; font-size: 16px; }
/* line 19, ../../sass/ui.scss */
#sidebar .tag-list #tags-header { font-size: 18px; }
/* line 23, ../../sass/ui.scss */
#sidebar .tag-list ul { padding-left: 15px; list-style-type: none; }
/* line 27, ../../sass/ui.scss */
#sidebar .tag-list ul li a { color: #ffffff; }

/* line 34, ../../sass/ui.scss */
#content { padding-left: 250px; }
/* line 38, ../../sass/ui.scss */
#content #dashboard { overflow: hidden; padding-left: 15px; }
/* line 42, ../../sass/ui.scss */
#content #dashboard .entry-list { float: left; margin: 0 10px 10px 0; padding: 10px; box-sizing: border-box; }
@media screen and (max-width: 1000px) { /* line 42, ../../sass/ui.scss */
  #content #dashboard .entry-list { width: 100%; } }
@media screen and (min-width: 1000px) { /* line 42, ../../sass/ui.scss */
  #content #dashboard .entry-list { width: 48%; } }
@media screen and (min-width: 1500px) { /* line 42, ../../sass/ui.scss */
  #content #dashboard .entry-list { width: 32%; } }
/* line 58, ../../sass/ui.scss */
#content #dashboard .entry-list .tag-name { margin-bottom: 5px; font-size: 24px; }
/* line 62, ../../sass/ui.scss */
#content #dashboard .entry-list .entry { min-height: 60px; margin-bottom: 15px; border-bottom: solid 1px #dfdfdf; }
/* line 67, ../../sass/ui.scss */
#content #dashboard .entry-list .entry .entry-header { position: relative; }
/* line 70, ../../sass/ui.scss */
#content #dashboard .entry-list .entry .entry-header.visible-thumbnail { margin-right: 70px; }
/* line 73, ../../sass/ui.scss */
#content #dashboard .entry-list .entry .entry-header .favicon { position: absolute; top: 2px; height: 16px; width: 16px; }
/* line 79, ../../sass/ui.scss */
#content #dashboard .entry-list .entry .entry-header .title { width: 100%; height: 3em; padding-left: 20px; display: block; overflow: hidden; }
/* line 87, ../../sass/ui.scss */
#content #dashboard .entry-list .entry .entry-thumbnail { float: right; }
/* line 90, ../../sass/ui.scss */
#content #dashboard .entry-list .entry .entry-thumbnail .thumbnail { width: 65px; height: 50px; }
/* line 95, ../../sass/ui.scss */
#content #dashboard .entry-list .entry .entry-footer { padding: 5px 0 10px 0; }
/* line 98, ../../sass/ui.scss */
#content #dashboard .entry-list .entry .entry-footer .bookmarkcount::after { content: " users"; }
/* line 102, ../../sass/ui.scss */
#content #dashboard .entry-list .entry .entry-footer .controll-button { height: 28px; width: 28px; margin-right: 5px; background-color: #ffffff; border: solid 1px #dfdfdf; border-radius: 14px; color: #b2b2b2; }
/* line 111, ../../sass/ui.scss */
#content #dashboard .entry-list .entry .entry-footer .controll-button:hover { background-color: #acacac; border-color: #acacac; color: #ffffff; }
/* line 124, ../../sass/ui.scss */
#content #entryboard { padding-left: 20px; }
/* line 127, ../../sass/ui.scss */
#content #entryboard .entry-list { min-width: 600px; max-width: 1100px; }
/* line 131, ../../sass/ui.scss */
#content #entryboard .entry-list .tag-name { margin-bottom: 10px; font-size: 28px; }
/* line 135, ../../sass/ui.scss */
#content #entryboard .entry-list .entry { overflow: hidden; position: relative; min-height: 150px; margin-bottom: 15px; padding-bottom: 5px; border-bottom: solid 1px #dddddd; }
/* line 143, ../../sass/ui.scss */
#content #entryboard .entry-list .entry .entry-thumbnail { float: right; }
/* line 146, ../../sass/ui.scss */
#content #entryboard .entry-list .entry .entry-thumbnail .thumbnail { width: 130px; height: 100px; margin-bottom: 10px; }
/* line 152, ../../sass/ui.scss */
#content #entryboard .entry-list .entry .entry-header { position: relative; margin-bottom: 6px; font-size: 16px; }
/* line 157, ../../sass/ui.scss */
#content #entryboard .entry-list .entry .entry-header.visible-thumbnail { margin-right: 140px; }
/* line 160, ../../sass/ui.scss */
#content #entryboard .entry-list .entry .entry-header .title { padding-left: 20px; }
/* line 163, ../../sass/ui.scss */
#content #entryboard .entry-list .entry .entry-header .favicon { position: absolute; top: 2px; height: 16px; width: 16px; }
/* line 172, ../../sass/ui.scss */
#content #entryboard .entry-list .entry .entry-body.visible-thumbnail { margin-right: 140px; }
/* line 175, ../../sass/ui.scss */
#content #entryboard .entry-list .entry .entry-body .description { margin-bottom: 38px; color: gray; font-size: 14px; }
/* line 181, ../../sass/ui.scss */
#content #entryboard .entry-list .entry .entry-footer { position: absolute; bottom: 0; margin-bottom: 8px; }
/* line 186, ../../sass/ui.scss */
#content #entryboard .entry-list .entry .entry-footer .bookmarkcount { font-size: 20px; }
/* line 189, ../../sass/ui.scss */
#content #entryboard .entry-list .entry .entry-footer .bookmarkcount::after { content: " users"; font-size: 14px; }
/* line 194, ../../sass/ui.scss */
#content #entryboard .entry-list .entry .entry-footer .controll-button { height: 32px; width: 32px; margin-right: 5px; background-color: #ffffff; border: solid 1px #dfdfdf; border-radius: 16px; color: #b2b2b2; }
/* line 203, ../../sass/ui.scss */
#content #entryboard .entry-list .entry .entry-footer .controll-button:hover { background-color: #acacac; border-color: #acacac; color: #ffffff; }
/* line 214, ../../sass/ui.scss */
#content #tag-select { padding-left: 15px; }

/* line 219, ../../sass/ui.scss */
#footer { background-color: #101010; }
